<!-- Search bar -->
<div class="search-container">
  <app-search 
    [(query)]="searchQuery" 
    (search)="onSearch($event)">
  </app-search>
</div>

<div class="product-list-container">
  <!-- First checking if products has been loaded -->
  <ng-container *ngIf="products?.length; else loading">
    
    <!-- Now checking if filtered results exist -->
    <ng-container *ngIf="filteredProducts?.length; else noResults">
      <app-product 
        *ngFor="let product of filteredProducts" 
        [product]="product">
      </app-product>
    </ng-container>

  </ng-container>

  <!-- Loading State -->
  <ng-template #loading>
    <div class="loading-container">
      <mat-spinner diameter="50" strokeWidth="4"></mat-spinner>
      <p>Loading products...</p>
    </div>
  </ng-template>

  <!-- No Results State -->
  <ng-template #noResults>
    <div class="no-results">
      <p>No products available</p>
    </div>
  </ng-template>
</div>
