.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2rem;
  gap: 1rem; 
}

.home-container h1 {
  font-size: 2.5rem;
  color: #004f4f;
  margin-bottom: 0.3rem; 
}

.home-container p {
  font-size: 1.2rem;
  color: #333;
  margin-top: 0; 
  margin-bottom: 1rem;
}

.home-search {
  width: 80%;
  /* max-width: 600px;  */
}

.browse-btn {
  margin-top: 1rem;
  display: flex;
  align-items: center;
}